.DV-zoomControls{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  float: right;
  margin: 28px 14px 0 0;
  position: relative;
  z-index: 99999;
}
  .DV-narrowControls .DV-zoomControls {
    margin-right: 15px;
  }

.DV-zoomBox{
  float: left;
  position:relative;
}
  .DV-narrowControls .DV-zoomBox {
  }
  .DV-zoomBox .inc,
  .DV-zoomBox .dec {
    cursor: pointer;
  }

.DV-zoomBox .ui-slider-handle{
  height:12px;
  width:12px;
  position:absolute;
  left:0;
  top:0;
  margin-top:5px;
  margin-left:-5px;
  background: transparent url(../../../images/DV/embed/slider.png) no-repeat 0 0;
  outline: none;
}

.DV-zoomControls .DV-trigger{
  font-size:11px;
  text-decoration:none;
  font-family:Arial,Helvetica,sans-serif;
  color:#004276;
}

.DV-triggers .DV-selected{
  font-weight:bold;
  color:#000;
}

.DV-zoomControls.DV-hide {
  display: none !important;
}
