.DV-trigger{
  cursor: pointer;
  cursor: hand;
}

.DV-region-highlight:hover {
    background: rgba(255, 97, 50, 0.1);
    border: 1px solid rgba(255, 97, 50, 1);
    -webkit-box-shadow: 0px 1px 10px rgba(255, 97, 50, 0.75);
    -moz-box-shadow:    0px 1px 10px rgba(255, 97, 50, 0.75);
    box-shadow:         0px 1px 10px rgba(255, 97, 50, 0.75);
}
