<div id="modal-<%= id %>" class="DV-article-modal modal hide page-<%= page %>" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="article-title"><%= title %></h3>
    </div>
    <div class="modal-body">
        <p><%= body %></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
