<div class="btn-group">
    <button class="dec btn btn-small DV-trigger"><i class="icon-zoom-out"></i></button>
    <button class="resize btn btn-small DV-trigger"><i class="icon-resize-horizontal"></i></button>
    <button class="inc btn btn-small DV-trigger"><i class="icon-zoom-in"></i></button>
</div>
